/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;600;800&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 56px;
}

h3 {
  font-size: 40px;
}

@media only screen and (max-width: 992px) {
  h1 {
    font-size: 56px;
  }
  h2 {
    font-size: 40px;
  }
}
body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 5%;
}

#header .header .contact-btn {
  border: 1px solid rgba(255, 255, 255, 0.295743);
  color: #fff;
  border-radius: 6px;
  text-transform: uppercase;
  background-color: transparent;
  width: 138px;
  height: 48px;
  font-weight: 900;
  cursor: pointer;
}

body {
  background-color: #FDF0E9;
  font-family: "Epilogue", sans-serif;
}

#header {
  background-color: #28293E;
  padding: 10px 0;
}
#header .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 515px;
}
#header .header nav ul li {
  color: #fff;
}
#header .header .menu {
  display: none;
}
@media only screen and (max-width: 992px) {
  #header .header nav {
    display: none;
  }
  #header .header .contact-btn {
    display: none;
  }
  #header .header .menu {
    display: block;
  }
}

#project .container .project {
  margin: auto;
  width: 50%;
}
#project .container .project .backto {
  margin-top: 39px;
  display: flex;
  column-gap: 14px;
}
#project .container .project .backto a {
  text-decoration: none;
  color: #391400;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin-top: 2px;
}
#project .container .project .media {
  color: #391400;
}
#project .container .project .media h1 {
  margin-top: 49px;
  font-weight: 800;
}
#project .container .project .media .agency {
  width: 80%;
  margin-top: 22px;
  line-height: 32px;
}
#project .container .project .media .outsource {
  margin-top: 32px;
  line-height: 32px;
  color: rgba(57, 20, 0, 0.64);
  font-size: 16px;
}
#project .container .project .category {
  display: flex;
  column-gap: 150px;
  margin-top: 54px;
}
#project .container .project .category ul {
  line-height: 32px;
}
#project .container .project .category ul li {
  color: #391400;
}
#project .container .project .category ul h5 {
  color: #ef6d58;
  text-transform: uppercase;
  margin-bottom: 16px;
  letter-spacing: 3px;
}
#project .container .project .category .client h5 {
  margin-top: 10px;
  color: #ef6d58;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 3px;
}
#project .container .project .category .client img {
  margin-bottom: 44px;
}
#project .container .project .category .client p {
  margin-top: 30px;
  font-size: 20px;
  color: #391400;
}
@media only screen and (max-width: 992px) {
  #project .container .project {
    width: 100%;
  }
  #project .container .project .category {
    display: block;
  }
  #project .container .project .category .client {
    margin-top: 48px;
  }
}

#image .container img {
  margin-top: 68px;
  margin-bottom: 71px;
}
@media only screen and (max-width: 992px) {
  #image img {
    width: 100%;
  }
}

#problem .container .text {
  margin: 0 auto;
  width: 50%;
  color: #391400;
  line-height: 32px;
}
#problem .container .text h5 {
  font-weight: 800;
  font-size: 40px;
  margin-bottom: 31px;
}
#problem .container .text p {
  color: rgba(57, 20, 0, 0.64);
  margin-bottom: 60px;
}
#problem .container .text .ability {
  margin-bottom: 30px;
}
@media only screen and (max-width: 992px) {
  #problem .container .text {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */