// @import "./variables";
// @import "./mixins";
// @import "./button";
@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;600;800&display=swap");

body {
  background-color: $bg-color;
  font-family: "Epilogue", sans-serif;
}

#header {
  background-color: $secondary-color;
  padding: 10px 0;
  .header {
    @include flexBox(space-between, center);

    nav {
      ul {
        @include flexBox(space-between);
        list-style: none;
        width: 515px;
        li {
          color: $color-white;
          a {
            text-decoration: none;
            color: $color-white;
          }
        }
      }
    }
    .contact-btn {
      @extend %primary-button;
    }
    .menu {
      display: none;
    }
  }

  @media only screen and (max-width: 992px) {
    .header {
      nav {
        display: none;
      }
      .contact-btn {
        display: none;
      }
      .menu {
        display: block;
      }
    }
  }
}

#project {
  .container {
    .project {
      margin: auto;
      width: 50%;
      .backto {
        margin-top: 39px;
        display: flex;
        column-gap: 14px;
        a {
          text-decoration: none;
          color: $dark-text;
          text-transform: uppercase;
          font-size: 12px;
          font-weight: 700;
          margin-top: 2px;
        }
      }
      .media {
        color: $dark-text;
        h1 {
          margin-top: 49px;
          font-weight: 800;
        }
        .agency {
          width: 80%;
          margin-top: 22px;
          line-height: 32px;
        }
        .outsource {
          margin-top: 32px;
          line-height: 32px;
          color: rgba(57, 20, 0, 0.64);
          font-size: 16px;
        }
      }
      .category {
        display: flex;
        column-gap: 150px;
        margin-top: 54px;
        ul {
          line-height: 32px;
          li {
            color: $dark-text;
          }
          h5 {
            color: $primary-color;
            text-transform: uppercase;
            margin-bottom: 16px;
            letter-spacing: 3px;
          }
        }
        .client {
            h5 {
                margin-top: 10px;
                color: $primary-color;
                text-transform: uppercase;
                margin-bottom: 20px;
                letter-spacing: 3px;
              }
            img {
                margin-bottom: 44px;
            }
            p {
                margin-top: 30px;
                font-size: 20px;
                color: $dark-text;
            }  
        }
      }
    }
    @media only screen and (max-width: 992px) {
      .project {
          width:100%;
        .category {
            display: block;
            .client {
              margin-top: 48px;
            }
        }
    }
  }
}
}

// Image
#image {
    .container{
        img {
            margin-top: 68px;
            margin-bottom: 71px;
        }
    }
    @media only screen and (max-width: 992px) {
        img {
            width: 100%;
        }
}
}

// Problem 

#problem {
    .container {
        .text{
            margin: 0 auto;
            width: 50%;
            color: $dark-text;
            line-height: 32px;
            h5 {
                font-weight: 800;
                font-size: 40px;
                margin-bottom: 31px;
            }
            p { 
                color: rgba(57, 20, 0, 0.64);
                margin-bottom: 60px;
            }
            .ability {
                margin-bottom: 30px;
            }
        }
        @media only screen and (max-width: 992px) {
                .text {
                    width:100%;
                }
            }
    }
}


//---------------------------------------------------------
// // Second-image

// VIDEO SECTION
#video {
  margin-bottom: 77px;

  .container {
    .main {
      margin: 0 auto;
      display: flex;

      .video {
        position: relative;
        width: 50%;

        // margin-left: 30px;
        img {
          width: 97%;
        }

        .play {
          position: absolute;
          left: 200px;
          top: 150px;
        }

        .time {
          position: absolute;
          bottom: 29px;
          left: 33px;
          z-index: 2;
        }

        .rectangle {
          position: absolute;
          bottom: 20px;
          left: 24px;
        }
      }

      .images {
        padding-left: 25px;

        .top {
          margin-bottom: 30px;

          img {
            width: 45%;
            padding-right: 25px;
          }
        }

        .botton {
          img {
            width: 45%;
            padding-right: 25px;
          }
        }
      }
    }

    @media only screen and (max-width: 992px) {
      .main {
        display: block;

        .video {
          width: 100%;

          .play{
            position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%)
          }
          .rectangle{
            position: absolute;
            bottom: 20px;
            left: 24px;
            transform: translate(10%, 5%)
          }
        }

        .images {
          margin-top: 20px;
          padding: 0;

          .top {
            margin: 0;
            display: flex;
          }

          .botton {
            margin-top: 20px;
            display: flex;
          }
        }
      }
    }
  }
}

// solution

#solution {
  padding-bottom: 72px;

  .container {
    border-bottom: 1px solid #f3d1bf;

    .text {
      margin: 0 auto;
      width: 50%;
      color: $dark-text;
      line-height: 32px;

      h5 {
        font-weight: 800;
        font-size: 40px;
        margin-bottom: 31px;
      }

      p {
        color: rgba(57, 20, 0, 0.64);
        margin-bottom: 65px;
      }

      .ability {
        margin-bottom: 30px;
      }

      span {
        padding-left: 250px;
        color: rgba(57, 20, 0, 0.64);
      }

      .social-icon {
        img {
          padding-left: 210px;
          margin-top: 24px;
          padding-bottom: 64px;
        }
      }
    }

    @media only screen and (max-width: 992px) {
      .text {
        width: 100%;

        span {
          padding-left: 100px;
        }

        .social-icon {
          img {
            padding-left: 50px;
          }
        }
      }
    }
  }
}

//-----------













// related-projects
#related-projects {
  padding-bottom: 160px;

  .container {
    h4 {
      padding-bottom: 39px;
      font-weight: 700;
      font-size: 24px;
      color: $dark-text;
    }

    .image {
      
      display: flex;
      column-gap: 30px;

      .left {
        position: relative;
        .sofa {
          position: absolute;
          left: 48px;
          bottom: 51px;
        }

        .tag {
          position: absolute;
          left: 48px;
          bottom: 123px;
        }
      }
      .right{
        position: relative;
        .work-media {
          position: absolute;
          bottom: 51px;
          left: 48px;
        }

        .tag2 {
          position: absolute;
          left: 48px;
          bottom: 123px;
        }
      }
    }

    @media only screen and (max-width: 992px) {
      .image {
        display: block;

        .left {
          img {
            width: 100%;
          }
        }

        .right {
          img {
            width: 100%;
          }
        }
      }
    }
  }
}



// help to build

#help-to-build {
  .container{
    .color-block{
      display: flex;
      background-color: $primary-color;
      color: $color-white;
      .text {
        width: 50%;
        padding: 100px;
        h2 {
          font-weight: 800;
          font-size: 56px;
          line-height: 64px;
          width: 100%;
          padding-bottom: 28px;
        }
        p {
          font-size: 16px;
          line-height: 32px;
          opacity: 0.6;
          padding-bottom: 34px;
        }
        button {
          @extend %primary-button;
          background-color: $color-white;
          color: black;
        }
      }
      .img {
        padding-right: 100px;
        padding-top: 41px;
      }
    }
    @media only screen and (max-width: 992px) {
      .color-block{
        flex-direction: column-reverse;
        .text {
          width: 100%;
          padding-left: 10px;
          h2 {
            font-size: 40px;
            line-height: 48px;
           }
        }
        .img {
          padding: 32px 50px 10px 50px ;
          img {
            width: 100%;
          }
        }
      }
    }
  }
}

// footer

#footer {
  background-color: $bg-color;
  .footer {
      padding-top: 92px;
      .footer-main {
          padding-bottom: 68px;
          @include flexBox(space-between, flex-start);
          .logo {
              color: $dark-text;
              font-size: 1.5rem;
              font-weight: 700;
          }
          .menu,
          .services {
              h5 {
                  color: $primary-color;
                  letter-spacing: 3px;
                  font-size: 1rem;
                  margin-bottom: 1rem;
              }
              ul {
                  li {
                      margin: 0.5rem 0;
                      a {
                          color: $dark-text;
                          text-decoration: none;
                      }
                  }
              }
          }
          @media only screen and (max-width: 992px) {
              flex-direction: column;
              align-items: center;
              row-gap: 51px;
              text-align: center;
          }
      }
      .social-icons {
          margin-top: -18px;
          @include flexBox();
          .icon {
              width: 48px;
              height: 48px;
              border-radius: 50%;
              background-color: $primary-color;
              @include flexBox();
              // margin: 0 0.25rem;
              margin: 0 4px;
          }
      }
      .footer-copyright {
          border-top: 1px solid #f3d1bf;
          @include flexBox(space-between);
          p {
              color: rgba(57, 20, 0, 0.64);
              font-size: 16px;
          }
          .terms-privacy {
              padding: 43px 0;
              ul {
                  display: flex;
                  column-gap: 68px;
                  li {
                      a {
                          color: $dark-text;
                          font-size: 1rem;
                          text-decoration: none;
                      }
                  }
              }
          }
          @media only screen and (max-width: 992px) {
              flex-direction: column;
              align-items: center;

              p {
                  margin-top: 43px;
              }
          }
      }
      @media only screen and (max-width: 992px) {
          // padding-top: 45px;
      }
  }
}





























