// @import "./variables";
// @import "./mixins";
// @import "./button";
@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;600;800&display=swap");

body {
  background-color: $bg-color;
  font-family: "Epilogue", sans-serif;
}

#header {
  background-color: $secondary-color;
  padding: 10px 0;
  .header {
    @include flexBox(space-between, center);

    nav {
      ul {
        @include flexBox(space-between);
        list-style: none;
        width: 515px;
        li {
          color: $color-white;
          a {
            text-decoration: none;
            color: $color-white;
          }
        }
      }
    }
    .contact-btn {
      @extend %primary-button;
    }
    .menu {
      display: none;
    }
  }

  @media only screen and (max-width: 992px) {
    .header {
      nav {
        display: none;
      }
      .contact-btn {
        display: none;
      }
      .menu {
        display: block;
      }
    }
  }
}

#project {
  .container {
    .project {
      margin: auto;
      width: 50%;
      .backto {
        margin-top: 39px;
        display: flex;
        column-gap: 14px;
        a {
          text-decoration: none;
          color: $dark-text;
          text-transform: uppercase;
          font-size: 12px;
          font-weight: 700;
          margin-top: 2px;
        }
      }
      .media {
        color: $dark-text;
        h1 {
          margin-top: 49px;
          font-weight: 800;
        }
        .agency {
          width: 80%;
          margin-top: 22px;
          line-height: 32px;
        }
        .outsource {
          margin-top: 32px;
          line-height: 32px;
          color: rgba(57, 20, 0, 0.64);
          font-size: 16px;
        }
      }
      .category {
        display: flex;
        column-gap: 150px;
        margin-top: 54px;
        ul {
          line-height: 32px;
          li {
            color: $dark-text;
          }
          h5 {
            color: $primary-color;
            text-transform: uppercase;
            margin-bottom: 16px;
            letter-spacing: 3px;
          }
        }
        .client {
            h5 {
                margin-top: 10px;
                color: $primary-color;
                text-transform: uppercase;
                margin-bottom: 20px;
                letter-spacing: 3px;
              }
            img {
                margin-bottom: 44px;
            }
            p {
                margin-top: 30px;
                font-size: 20px;
                color: $dark-text;
            }  
        }
      }
    }
    @media only screen and (max-width: 992px) {
      .project {
          width:100%;
        .category {
            display: block;
            .client {
              margin-top: 48px;
            }
        }
    }
  }
}
}

// Image
#image {
    .container{
        img {
            margin-top: 68px;
            margin-bottom: 71px;
        }
    }
    @media only screen and (max-width: 992px) {
        img {
            width: 100%;
        }
}
}

// Problem 

#problem {
    .container {
        .text{
            margin: 0 auto;
            width: 50%;
            color: $dark-text;
            line-height: 32px;
            h5 {
                font-weight: 800;
                font-size: 40px;
                margin-bottom: 31px;
            }
            p { 
                color: rgba(57, 20, 0, 0.64);
                margin-bottom: 60px;
            }
            .ability {
                margin-bottom: 30px;
            }
        }
        @media only screen and (max-width: 992px) {
                .text {
                    width:100%;
                }
            }
    }
}


//---------------------------------------------------------
// // Second-image

 #second-image{
     .container{
      .main{
       @include flexBox();
       column-gap: 30px;
       margin-top: 65px;
       margin-bottom: 77px;
         .left-img{
           position: relative;
           width: 50%;
           .ph{
            width: 98%;
           }
           .saat{
              padding: 3 3px;
              background-color:  #825E4C;
              position: absolute;
              top: 392px;
              left: 24px;
              width: 47px;
              height: 32px;
              border-radius: 6px;
              color: white;
              font-size: 16px;

            }
           .play{
            position: absolute;
            left: 211px;
            top: 150px;
           }
         }
         .right-img{
           width: 50%;
           .photo{
             margin-top: 30px;
           }
           .right{
             margin-left: 30px;
           }
         }

           @media only screen and (max-width: 992px) {
              .main {
                  display: block;
                  
              }
            }
          }
     }

}

 .text-p{
   width: 100px;
   height: 24px;
   margin: 0 auto ;
   font-size: 14px;
   width: 65px;
    height: 24px;
    text-align: center;
    color: #391400;
 }
 .social-icons {
   margin-top: 20px;
   @include flexBox();
   margin-bottom: 65px;

   .icon {
     width: 48px;
     height: 48px;
    border-radius: 50%;
    background-color: $primary-color;
     @include flexBox();
     // margin: 0 0.25rem;
     margin: 0 4px;
  }
 }

.related{
    margin: 0 auto;
    padding: 72px 0 39px;
    width: 1170px;
    height: 32px;
    font-weight: 700;
    font-size: 24px;
    color: #391400;
    border-top: 1px solid #F3D1BF;
}


.third-image{
  .container{
    @include flexBox();
    column-gap: 30px;
    .left{
      border-radius: 6px;
      position: relative;
      button{
        position: absolute;
        top: 256px;
        left: 48px;
        width: 84px;
        height: 38px;
        font-size: 16px;
        color:#391400;
        border-radius: 19px;
        border: none;
        font-family: 'Epilogue';
      }
      h2{
        position: absolute;
        font-size: 40px;
        top: 317px;
        left: 48px;
        color: white;
        font-family: 'Epilogue';
        font-weight: 800;
      }
    }
    .right {
      border-radius: 6px;
      position: relative;
      button {
        position: absolute;
        top: 256px;
        left: 48px;
        width: 116px;
        height: 38px;
        font-size: 16px;
        color: #391400;
        border-radius: 19px;
        border: none;
        font-family: 'Epilogue';
      }
      
      h2 {
        position: absolute;
        font-size: 40px;
        top: 317px;
        left: 48px;
        color: white;
        font-family: 'Epilogue';
        font-weight: 800;
      }
    }
     
      
    }
}































// //---------------------------------------------------------
// // // Second-image

// // #second-image{
// //     .container{
// //       @include flexBox();
// //       column-gap: 30px;
// //       margin-top: 65px;
// //       margin-bottom: 77px;

// //         .left-img{
// //           width: 50%;
// //         }
// //         .right-img{
// //           width: 50%;
// //           .photo{
// //             margin-top: 30px;
// //           }
// //           .right{
// //             margin-left: 30px;
// //           }
// //         }

// //         //  @media only screen and (max-width: 992px) {
// //         //     .container {
// //         //         display: block;
// //         //     }
// //         //   }
// //     }
// // }

// // .text-p{
// //   width: 70px;
// //   height: 24px;
// //   margin: 0 auto;
// // }
// // .social-icons {
// //   margin-top: -18px;
// //   @include flexBox();

// //   .icon {
// //     width: 48px;
// //     height: 48px;
// //     border-radius: 50%;
// //     background-color: $primary-color;
// //     @include flexBox();
// //     // margin: 0 0.25rem;
// //     margin: 0 4px;
// //   }
// // }
